.container:hover {
    background-color: rgb(247, 243, 239);
    transform: translateY(-8px);
    transition: transform 0.2;
    cursor: pointer;
}

.container:active {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.container:inactive {
  opacity: 0.6;
}